extends layout

block content
  style.
    #map {
      width: 100%;
      height: 500px;
    }

  .pb-2.mt-2.mb-4.border-bottom
    h2 Map
     

  #map

  script.
    var map, infoWindow;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 36.0907578, lng: -119.5948303 },
        zoom: 7
      });
      infoWindow = new google.maps.InfoWindow;

       if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
              
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            locationError(true, infoWindow, map.getCenter());
          });
        } else {
          locationError(false, infoWindow, map.getCenter());
        }
      }
      function locationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

  script(async defer src=`https://maps.googleapis.com/maps/api/js?key=&callback=initMap`)
